*{margin:0;padding:0;}

body{
     background-color: #39424B;
     font-family:Monaco, sans-serif;
}

div#middle{
    background-color:white;
    width:960px;
    margin:0 auto;
}

header{
    height:60px;
    padding:10px 0;
}

header h1{
    line-height:60px;
    vertical-align:middle;
    margin-left:15px;
}

nav{
    padding:5px;
    height:20px;
    /* browsers render unknown elements as display:inline; */
    display:block; 
    border-top:solid 1px #eaeaea;
    border-bottom:solid 1px #eaeaea;
}

nav ul{
    list-style:none;
    float:left;
}

nav ul li{
    text-align:center;
    display:block;
    float:left;
    width:80px;
}

nav ul li a{
    text-decoration:none;
    font-size:14px;
    font-weight:bold;
    color:#5DB0E6;
}

nav ul li a:hover{
    text-decoration:underline;
}

div#content{
    padding:10px;
}

table#shopping_cart{
    border-collapse:collapse;
}

table#shopping_cart tr{
    height:50px;   
}

table#shopping_cart th{
    background-color:#5DB0E6;
    color:white;
    font-weight:bold;
    text-align:left;
    padding:2px;
}

table#shopping_cart td input.button{
    padding:2px;
    font-size:11px;
    cursor:pointer;
}

table#shopping_cart td{
    text-align:left;
    border-bottom:solid 1px #adadad;
    padding:2px;
}

table#shopping_cart td.right, table#shopping_cart th.right{
    text-align:right;
}

table#shopping_cart td a{
    color:maroon;
}

table#shopping_cart tfoot{
    font-weight:bold;
}

div.product{
    padding:5px;
    width:148px;
    border:solid 1px #616161;
    float:left;
    height:200px;
    margin-right:10px;
    font-size:14px;
    line-height:22px;
}

div.product a{
    text-decoration:none;
    font-weight:bold;
    color:maroon;
    font-size:14px;
}

div.product a:hover{
    text-decoration:underline;
}

input.button{
    background-color:maroon;
    color:white;
    font-weight:bold;
    padding:5px;
    border:0 none;
    cursor:pointer;
}

footer{
    /* browsers render unknown elements as display:inline; */
    display:block;
    height:28px;
    padding:3px;
    text-align:center;
    border-top:solid 1px #eaeaea;
    border-bottom:solid 1px #eaeaea;
    font-size:12px;
}